{% extends 'main/layout.html' %}
{% block tittle %}Товары{% endblock %}

{% block content %}
    <div class="features">
        <h1>Каталог</h1>
        {% if items %}
            {% for el in items %}
            <div class="item-warning">
                <h3>{{ el.name }}</h3>
                <p>{{ el.price }}</p>
            </div>
            {% endfor %}
        {% else %}
            <p>Товары временно недоступны</p>
        {%  endif %}
        <button class="btn btn-warning">На главную</button>
    </div>
{% endblock %}